.recomendados-section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background: white;
    width: 100vw;
    padding: 100px 50px;
}
.recomendados .recomendados-title {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 8px;
    font-style: normal;
    
}
