.burger-button {
    all: unset;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 40px;
    justify-content: space-between;
    z-index: 1000;
    transition: all .3s ease;
}
.burger-button span {
    width: 45px;
    height: 7px;
    background: #f1faee;
    border-radius: 100px;
    display: inline-block;
    transition: 0.3s ease;
    left: 0;
}
.burger-button.open .top {
    transform: translateY(17px) rotate(45deg); 
    transform-origin: center;
    width: auto; 
}
.burger-button.open .bottom {
    transform: translateY(-16px) rotate(-45deg);
    transform-origin: center;
    width: auto;
    box-shadow: 0 0 10px #495057;
}
.burger-button.open .middle {
    transform: translateX(-20px);
    opacity: 0;
}
.burger-button.scrolled {
    transform: translateX(10px);
}