.reserve-button{
    border: 2px solid rgb(219, 219, 219);
    border-radius: 2px;
    background-color:transparent;
    color:white;
    padding: 7px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;     
    text-decoration: none;
}
.reserve-button:hover {
    background-color:black;
    transform: scale(1.05);
}