@keyframes slideDown {
  0% {
    transform: translateY(-50px);
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}
.navbar-list-mobile{
    display: none;
}
.nav-menu{
    display: none;
}
.header {
    position: fixed;
    top: 0;
    padding: 10px 20px 10px 10px;
    width: 100%;
    height: 70px;
    transition: backdrop-filter 0.4s ease, background-color 0.4s ease, box-shadow 0.4s ease, -webkit-backdrop-filter 0.4s ease;
    animation: slideDown 0.6s ease forwards;
    opacity: 0;
    z-index: 100;
}
.navbar {
    display: flex;
    position: relative;
    align-items: center;
    flex: 1;
    list-style: none;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0;
    gap: 40px;
}
.navbar-list {
    display: flex;
    position: absolute;
    flex: 1;
    align-items: center;
    right: 0;
    padding-right: 30px;
    gap: 20px;
    transition: transform 0.3s ease;
}
.navbar-list a:not(.reserve-button){
    padding: 15px 15px;
    color: rgb(184, 184, 184);
    font-size: .90rem;
    text-decoration: none;
    transition: color 0.3s ease;
}
.navbar-list a:not(.reserve-button):hover {
    color: white;
}
.navbar-list.scrolled {
    transform: translateY(-31px);
}
.header.scrolled {
    background-color: rgba(39, 39, 39, 0.432); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(7px);               
    -webkit-backdrop-filter: blur(7px); 
}
.logo{
    transition: transform 0.3s ease;
}
.logo.scrolled {
    transform: translateY(-31px) scale(0.55);
}
.logo img {
    margin: 0;
    padding: 0;
    width: 110px;
    height: 109.2px;
    
}
.logo:not(.logo.scrolled):hover {
    transform: scale(1.05);
}
@media (max-width: 850px) {  
    .navbar-list{
        display: none;
    }
    /* 
    DEJO DE FUNCIONAR POR SER CHECKBOX - HACER NUEVO BOTON BURGER MENU
    input[type = "checkbox"] {
        -webkit-appearance: none;
        display: none;
        visibility: hidden;
    }
    .bar {
        display: block;
        position: relative;
        cursor: pointer;
        width: 50px;
        height: 40px;
        z-index: 1000;
        transition: transform 0.3s ease;
    }
    .bar.scrolled {
        transform: translateY(-31px);
    }
    .bar.open:not(.bar.scrolled) {
        transform: translateY(-31px)
    } 
    .bar span {
        position: absolute;
        width: 45px;
        height: 7px;
        background: #f1faee;
        border-radius: 100px;
        display: inline-block;
        transition: 0.3s ease;
        left: 0;
    }
    .bar span.top {
        top: 0;
    }
    .bar span.middle {
        top: 17px;
    }
    .bar span.bottom {
        bottom: 0;
    }
    input[type]:checked ~ span.top {
        transform: rotate(45deg);
        transform-origin: top left;
        width: 48px;
        left: 5px;
    }
    input[type]:checked ~ span.bottom {
        transform: rotate(-45deg);
        transform-origin: top left;
        width: 48px;
        bottom: -1px;
        box-shadow: 0 0 10px #495057;
    }
    input[type]:checked ~ span.middle {
        transform: translateX(-20px);
        opacity: 0;
    }    
    */
    body.no-scroll {
        overflow: hidden;
    }
    .logo.scrolled img {
        transform: translateX(-20px)
    }
    
    .navbar-list-mobile{
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 60px 80px 20px 20px;
        background: #2b2b2b;
        min-width: 400px;
        height: 100vh;
        gap: 10px;
        transform: translateX(120%);
        z-index: 999;
        transition: transform 0.2s ease;
    } 
    .navbar-list-mobile a:not(.reserve-button-mobile) {
        color: rgb(184, 184, 184);
    }
    .navbar-list-mobile a:not(.reserve-button-mobile):hover {
        color: white;
    }
    .reserve-button-mobile {
        background-color:transparent;
        border: 2px solid white;
        color:white;
        border-radius: 2px;
        transition: background-color 0.3s ease, transform 0.3s ease;       
        text-decoration: none;
    }
    .reserve-button-mobile:hover {
        background-color:black;
        transform: scale(1.05);
    }
    .navbar-list-mobile a {
        width: 100%;
        padding: 1rem;
        text-align: left;
        text-decoration: none;
    }
    .navbar-list-mobile.open {      
        transform: translateX(0);
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.63);
    }
    .nav-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
    } 
    .menu-button {
        font-size: 1.5rem;
    }    
}